name = "boltecho"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "build/client"

[build]
command = "pnpm run build:pages"

[[pages_plugins]]
binding = "DB"
plugin_type = "D1"

[env.production]
account_id = ""
name = "boltecho"
